html {
    background-color: #fafafa;
}

#main {
    transition: margin-left .5s;
    padding: 20px 0 0 100px;
    height: 900px;
    overflow: hidden;
    position: relative;
    align-content: center;
}

/*#greeting {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 516px;
    left: 368px;
    white-space: nowrap;
}*/

h1 {
    font-size: 100px;
    line-height: 30px;
}

footer {
    position: absolute;
    bottom: 0;
}


/* progress scroll border */
.border-top,
.border-bottom {
  position: fixed;
  height: 8px;
  background-color: #cedae5;
  z-index: 900;
  width: 0%;
  /*box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.18);*/
}

.border-right,
.border-left {
  position: fixed;
  width: 8px;
  background-color: #cedae5;
  z-index: 900;
  height: 0%;
  /*box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.18);*/
}

.border-top {
  top: 0;
  left: 0;
}

.border-right {
  top: 0;
  right: 0;
}

.border-bottom {
  bottom: 0;
  right: 0;
}

.border-left {
  bottom: 0;
  left: 0;
}