html {
    background-color: #efefef;
}

.sidenav {
    height:100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #c0c0c0;
    overflow-x: hidden;
    padding-top: 40px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #fff;
}

.sidenav .nav-close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 20px;
}

.nav-open-btn {
    position: absolute;
    top: 0;
    color: #818181;
    font-size: 30px;
    text-decoration: none;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#main {
    transition: margin-left .5s;
    padding: 20px 0 0 100px;
    height: 900px;
    overflow: hidden;
    position: relative;
    align-content: center;
}


#portrait {
    width: 750px;
    position: absolute;
    left: 90px;
    top: 60px;
}

#rectangle {
    background-color: #cedae5;
    width: 900px;
    height: 900px;
    left: 50px;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

#greeting {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 516px;
    left: 368px;
    white-space: nowrap;
}

h1 {
    font-size: 100px;
    line-height: 30px;
}

footer {
    position: absolute;
    bottom: 0;
}