html {
  background-color: #fafafa;
}

body {
  height: 100vh;
  width: 100vw;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:-webkit-any-link {
  color: inherit;
  cursor: pointer; 
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  /*position: fixed;*/
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px 0 0 30px;
}

/* navigation start */
.nav {
  margin: 30px 20px 0px 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #7f7f7f;
}
.nav a {
  margin: 0 20px 0 20px;
  text-decoration: none;
}
.nav a:hover {
  color: #6FB3DD;
}
.navOpenBtn,
.navCloseBtn {
  display: none;
  color: #000;
}

@media screen and (max-width: 800px) {
  .nav {
    float: right;
  }
  .nav a {
    display: none;
  }
  .nav a.navOpenBtn {
    float: right;
    display: block;
  }
  .nav a.navCloseBtn {
    float: right;
    display: none;
  }
  .nav.nav-open {
    position: relative;
  }
  .nav.nav-open a {
    float: none;
    display: block;
    text-align: right;
  }
  .nav.nav-open a.navOpenBtn {
    position: relative;
    right: 0;
    top: 0;
  }
}
/* navigation end */

#intro {
  margin: 100px;
  max-width: 800px;
  font-family: 'Lora', serif;
  font-size: 35px;
}
#intro a {
  color: #6FB3DD;
}

#connects {
  margin: 100px;
}

.social {
  width: 30px;
  height: 30px;
  margin: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #d2d2d2;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}


/* progress scroll border start */
.border-top,
.border-bottom {
  position: fixed;
  height: 8px;
  background-color: #6FB3DD;
  z-index: 900;
  width: 0%;
}

.border-right,
.border-left {
  position: fixed;
  width: 8px;
  background-color: #6FB3DD;
  z-index: 900;
  height: 0%;
}

.border-top {
  top: 0;
  left: 0;
}

.border-right {
  top: 0;
  right: 0;
}

.border-bottom {
  bottom: 0;
  right: 0;
}

.border-left {
  bottom: 0;
  left: 0;
}
/* progress scroll border end */